* {
  box-sizing: border-box;
}
body {
  background-color: #FFF;
  font-family: 'Hedvig Letters Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 2em 1em;
}
h1 {
  text-align: center;
}
nav {
  bottom: 0;
  margin: 0 auto 0 -1em;
  position: fixed;
  text-align: center;
  width: 100%;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
nav ul li {
  border: 1px solid black;
  display: block;
  flex: 0 0 20%;
  list-style-type: none;
}
nav ul li.active {
  background-color: black;
  color: white;
}
#chats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form {
  width: 100%;
}
fieldset {
  border-width: 0;
  color: #222;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}
.failed fieldset {
  background-color: #CCC;
}
legend {
  display: none;
}
label.message {
  bottom: 4em;
  left: 0;
  padding: 0 1em;
  position: fixed;
  width: 100%;
}
input, textarea {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 0.25em;
}
textarea {
  float: right;
  width: 100%;
}
input[type="submit"] {
  bottom: 3em;
  right: 1em;
  position: absolute;
}
a.trusworthy {
  color: green;
  margin-left: 0.5em;
  text-decoration: none;
}
.messages {
  max-height: 65vh;
  overflow-y: auto;
  max-width: 100%;
}
.messages p {
  background-color: hsla(var(--base-hue), 0%, 100%, 80%);
  border: 1px solid #CCC;
  border-radius: 0.5em;
  margin: 0.5em 0 0 auto;
  max-height: 50vh;
  overflow: auto;
  padding: 0.25em 0.5em;
  white-space: pre-line;
  width: 90%;
}
.messages p.pre {
  white-space: pre;
  max-height: none;
}
.messages p.other {
  background-color: hsla(var(--base-hue), 0%, 100%, 90%);
  margin: 0.5em auto 0 0;
}
label {
  display: block;
}
label span {
  display: inline-block;
  width: 9ex;
}
@media (prefers-color-scheme: dark) {
/*
  form fieldset {
    background-color: hsl(var(--base-hue), var(--base-saturation), 25%);
    color: hsl(var(--base-hue), 50%, 99.5%);
  }
  body {
    background-color: #3A3A3A;
    color: #CCC;
  }
*/
}
@media (max-width: 70em) {
  fieldset {
    width: 100%;
  }
}

